/* reset inicial da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* garante que bordas e padding não aumentem o tamanho dos elementos */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    /* permite mudar cor e outros atributos em todo o site alterando em apenas um lugar */
    --bg-color: #0D1117; /* cor principal do plano de fundo */
    --text-color: #e6edf3; /* cor do texto principal */
    --primary-color: #f0ec1b;
    --card-bg: #161b22;
    --border-color: #30363d;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-pad {
    padding: 80px;
}

.navbar {
    background-color: #161b22d0;
    backdrop-filter: blur(10px);
    position: fixed; /* mantém o menu sempre visível no topo */
    width: 100%;
    z-index: 1000;
}

.navbar-content {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo .highlight {color: var(--primary-color)}

.menu {
    display: flex;
    gap: 1em;
    padding: 1em;
}

.menu a {
    color: var(--text-color);
    text-decoration: none;
    padding: 1em;
    border-radius: 8px;
    transition: box-shadow .3s ease-in-out;
}

.btn-nav {
    border: 1px solid var(--border-color);
    padding: 8px 16px;
    border-radius: 6px;
    transition: border-color 0.3s ease;
}

.btn-nav:hover {
    border-color: var(--text-color);
}

/* SEÇÃO HERO */

.hero {
    display: flex;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 80px;
    background: radial-gradient(circle at top, #202a55 0%, #0D1117 70%);
}

.tag {
    background-color: #1f2428;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

.hero h1 {
    font-size: 3.5em;
    margin: 20px 0;
}

.hero p {
    margin: 0 auto 40px auto;
    width: 550px;
    color: #cccccc9a;
    font-size: 1.2rem;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.btn-primary {
    background-color:var(--primary-color);
    color: #202a55;
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--primary-color);
    box-shadow: 0 0 5px 2px var(--primary-color);
}

.btn-outline {
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    margin-left: 10px;
}

.btn-outline:hover {
    background-color: var(--border-color);
}

.row {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.card {
    flex: 1;
    background-color: var(--card-bg);
    padding: 30px;
    border-radius: 12px;
}

.icon-box {
    font-size: 32px;
    color: var(--primary-color);
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 40px;
    background-color: #050813;
}